{% extends 'base.html.twig' %}

{% block title %}Hello WeatherController!{% endblock %}

{% block body %}
<style>
</style>

<div class="app_weather">
    <script>
    </script>
    <div class="flex flex-col w-screen h-screen justify-center items-center">
        <h3 id="city" class="text-8xl font-extrabold mb-8">Météo à Paris</h3>
        <h4 id="temp" class="text-5xl font-bold mb-3">{{ temp }}</h4>
        <h4 id="meteo" class="text-5xl font-bold">{{ meteo }}</h4>
    </div>
</div>
{% endblock %}
